/*
 * All
 */
body {
	background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/12622264_702915006477149_6765759506548201851_o.jpg?_nc_cat=106&ccb=2&_nc_sid=6e5ad9&_nc_ohc=S4AsDLqstYUAX902s17&_nc_ht=scontent-frt3-1.xx&oh=c19a77406b49b307cb10fe8942eea97c&oe=601606DD");
    background-attachment: fixed;
}
/*
 * Header
 */
header {
	width: 95%;
	margin: 0 auto;
	background-color: yellow;
	text-align: justify;
	align-content: center;
	border: 1px solid;
	border-radius: 40px 40px / 25px 25px;
	padding: 10px;
}
/*
 * Main
 */
main {
	width: 95%;
	margin: 0 auto;
	background-color: white;
	text-align: justify;
	align-content: center;
	border: 1px solid #66A7CC;
	border-radius: 40px 40px / 25px 25px;
	padding: 10px;
}
/*
 * Footer
 */
footer {
	width: 100%;
	background-color: #002a32;
    border-color: blue;
    border: 1px solid;
}
footer div.gauche {
	width: 50%;
}
footer div.droite {
	float: right;
	width: 50%;
}
footer ul li {
	list-style-type: none;
}
/*
 * Section
 */
section main.sorties {
	width: 100%;
	border-color: yellow;
	border: 1px 1px 1px 1px;
}
section main.article {
	width: 100%;
	border-color: red;
	border: 1px 1px 1px 1px;
}
section main.article article {
	width: 50%;
}
section main.article article div.news-title {
	font-variant: small-caps;
}
section main.article article div.news-content {
	font-size: smaller;
}
div.planning {
	overflow: auto;
	height: auto;
}
/*
 * Onglets
 */
nav {
    width: 100%;
    margin: 0 auto;
    background-color: #B2FFFF;
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous {
    display: block;
}
.sous li {
    float: none;
    width: 100%;
    text-align: left;
}
.sous a {
    padding: 10px;
    border-bottom: none;
}
.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after {
    content:" ▼";
    font-size: 12px;
}
.conteneur {
	margin: 50px 20px;
	height: 1500px;
}
/*
 * Tableau
 */
table {
  	border-collapse: collapse;
  	width: 400px;
}
th, td {
  	border: 1px solid black;
  	padding: 10px;
  	vertical-align: top;
}
/*
 * épisodes
 */
#expand-btn {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded, .expandable {
    display: none;
}
#isexpanded:checked ~ * tr.expandable {
    display: table-row;
    background: #cccccc;
}
#isexpanded:checked ~ p.expandable, 
#isexpanded:checked ~ * p.expandable,
#isexpanded:checked ~ ul.expandable, 
#isexpanded:checked ~ * ul.expandable {
    display: block;
}
label#expand-btn,
label#expand-btn-1,
label#expand-btn-2,
label#expand-btn-3,
label#expand-btn-4,
label#expand-btn-5, {
	width: 90%;
}
header h1.sites {
	font-size: 140%;
	color: lightgreen;
	text-align: center;
}
/* Classes pour les colonnes des portails */
.portail-gauche,
.portail-droite {
    box-sizing: border-box;
}
.portail-gauche {
    float: left;
    padding-right: 1.2rem;
    width: 50%;
}
.portail-droite {
    float: right;
    width: 50%;
}
@media (max-width: 981px) {
    .portail-gauche,
    .portail-droite {
        float: none;
        width: auto !important;
    }
    .portail-gauche {
        padding-right: 0;
    }
}
main section.main-sorties,
main section.main-article,
main section.cadre {
    box-shadow: 0 0 0.3rem #999;
    border-radius: 0.2rem;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
}
main section div.titre {
    font-variant: small-caps;
    letter-spacing: 0.01em;
    border-bottom: solid 0.2rem #bdd8fb;
    margin: -0.4rem 0 0.5rem;
}
@media (min-width: 982px) {
    #accueil {
        display: flex;
    }
    #accueil .portail-gauche,
    #accueil .portail-droite {
        display: flex;
        flex-direction: column;
    }
    .accueil_2017_cadre:nth-child(1) {
        flex-grow: 1;
    }
    .accueil_2017_cadre:nth-child(2) {
        flex-grow: 2;
    }
    .accueil_2017_cadre:nth-child(3) {
        flex-grow: 3;
    }
}
.author {
    text-align: right;
}
h1 {
    font-variant: small-caps;
}
section.series-details {
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: black;
    padding: 40px;
    margin: auto;
}
section.series-episodes {
    width: 100%;
    padding: 40px;
    margin: auto;
}
section.series-details div#accueil div.portail-gauche {
    border-right: 1px solid;
    border-right-color: red;
}
/* Abréviations */
abbr {
    cursor: help;
}
/* Pour le copyright en bas de page */
div.copyrights {
    text-align: center;
}
div.copyrights p {
    text-align: center;
}
/* Sujet de l'actualité */
div.news-subject {
    width: 80%;
}
div.news-subject p {
    font-size: 120%;
    font-color: black;
}
.link-API {
    height: 20px;
    width: 40px;
    background-color: gray;
    border: none;
}
/* Onglets */
.onglet {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.onglet_0 {
    background: #bbbbbb;
    border-bottom: 1px solid black;
}
.onglet_1 {
    background: #dddddd;
    border-bottom: 0px solid black;
    padding-bottom: 4px;
}
.contenu_onglet {
    background-color: #dddddd;
    border: 1px solid black;
    margin-top: -1px;
    padding: 5px;
    display: none;
}
ul {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:-10px
}
h1 {
    margin:0px;
    padding:0px;
}
/* AlloCiné */
.section-wrap {
    padding-left: .625rem;
    padding-right:.625rem
}
.third-nav {
    position: relative;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:stretch;
    align-content:stretch;
    min-height:3.125rem;
    z-index:3
}
.third-nav-first{
    z-index: 4;
}
.third-nav .item{
    display:flex;
    flex-grow:1;
    align-items:center;
    align-content:center;
    justify-content:center;
    position:relative;
    font-weight:700;
    text-align:center;
    color:#2b2b2b
}
.third-nav .item,
.third-nav .item-more {
    flex-basis:auto;padding:.625rem;
    line-height:1.5;border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;text-align:center}
.third-nav-sub .item {
    display:block;
    text-align:left;
    height:auto;
    padding:0;
    border:0;
    padding:.625rem;
    border-bottom:1px solid #d8d8d8
}
.third-nav-flex-start {
    overflow:hidden;
    justify-content:flex-start
}
.third-nav-flex-start:after,
.third-nav-flex-start:before { 
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:1px;
    background-color:#ececec
}
.third-nav-flex-start:before {
    top:0
}
.third-nav-flex-start:after {
    bottom:0
}
.third-nav-flex-start .item {
    flex-grow:0;
    padding:.875rem 1.25rem .625rem
}
.third-nav-flex-start .item.current:after{
    content:"";
    display:block;
    position:absolute;
    height:2px;
    width:100%;
    z-index:1;
    bottom:-1px;
    left:0;
    background:#fff
}
.third-nav-flex-start .item:last-child {
    border-right:1px solid #ececec
}
.third-nav .item-more:hover {
    background:#ececec
}
.third-nav .inactive:hover {
    background-color:transparent
}
.third-nav-sub .item:last-child {
    border-bottom:0
}
.third-nav .home,.third-nav .item-more {
    width:3.125rem;
    flex-grow:0
}
.third-nav .current {
    border-top:2px solid #fecc00;
    border-bottom:1px solid #fff
}
.third-nav-sub .current {
    background:#fff;
    border-left:2px solid #fecc00;
    border-top:0
}
.third-nav .inactive {
    color:#b3b3b3
}
.third-nav .item-more-hidden {
    width:0;
    padding:0;
    visibility:hidden
}
.third-nav .icon-plus:before {
    margin:0
}
.third-nav .icon-plus {
    font-size:1.125rem
}
.third-nav.show-sub .icon-plus {
    font-size:1rem
}
.third-nav .item-more{
    position:static;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-left:1px solid #ececec
}
.third-nav .item-more-picto{
    display:block;
    position:absolute;
    overflow:hidden;
    top:0;
    right:0;
    width:3.125rem;
    height:100%;
    line-height:3.125rem;
    z-index:1;
    cursor:pointer
}
.third-nav .item-more-picto:before {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.third-nav .label {
    line-height:normal;
    position:absolute;
    top:-.625rem;
    right:.9375rem
}
.third-nav-sub .label {
    text-indent:0;
    margin-left:.3125rem;
    position:static;
    top:auto;
    right:auto
}
.third-nav-sub {
    position:absolute;
    overflow:hidden;
    top:100%;
    right:0;
    width:100%;
    background:#ececec;
    height:0;
    padding:0 .625rem;
    margin-top:-1px
}
.third-nav.show-sub .third-nav-sub {
    height:auto;
    padding-top:.625rem;
    padding-bottom:.625rem;
    box-shadow:-3px 0 28px -10px #333
}
.third-nav.show-sub .item-more-picto,
.third-nav.show-sub .third-nav-sub {
    border:1px solid #d8d8d8
}
.third-nav.show-sub .item-more-picto {
    border-bottom:1px solid #ececec;
    background:#ececec
}
.third-nav .js-item-mq-medium,
.third-nav .js-item-mq-small {
    display:none
}
.third-nav-sub .js-item-mq-medium,
.third-nav-sub .js-item-mq-small {
    display:block
}
@media (min-width:30.0625em) {
    .third-nav-sub {
        width:21.25rem
    }
}
@media (min-width:45.0625em) {
    .third-nav .js-item-mq-small {
        display:flex
    }
    .third-nav-sub .js-item-mq-small {
        display:none
    }
}
@media (min-width:62.0625em) {
    .third-nav .js-item-mq-medium {
        display:flex
    }
    .third-nav-sub .js-item-mq-medium {
        display:none
    }
}
.third-nav-hash .item{
    font-size:.875rem
}
.third-nav-hash .item:before {
    content:"# ";
    font-size:1rem;
    vertical-align:middle;
    color:#fecc00
}
.third-nav-hash .item:hover,
.third-nav-white .third-nav-sub .item:hover {
    color:#2c82c8
}
.third-nav-white .item {
    color:#fff
}
.third-nav-white .item:hover {
    color:#fecc00
}
.third-nav-white .item-more-picto:hover,
.third-nav-white.show-sub .item-more-picto,
.third-nav-white .third-nav-sub .item {
    color:#000
}
.third-nav-tab .item{
    border-left:1px solid #ececec
}
.third-nav-tab .item:hover{
    background:#ececec
}
.third-nav-sub .item:hover {
    background:#d8d8d8
}
.third-nav-tab .icon-home {
    flex-grow:0
}
.third-nav-tab .item:first-child {
    border-left:0
}
.third-nav-tab .sponso {
    width:9.375rem
}
.third-nav-sub .sponso {
    width:100%
}
.third-nav .icon-play-mini:before,
.third-nav .icon-tickets-seances:before{
    display:none
}
.third-nav-tab .icon-play-mini,
.third-nav-tab .icon-tickets-seances {
    font-size:.8125rem
}
.third-nav-tab .icon-play-mini:before,
.third-nav-tab .icon-tickets-seances:before {
    font-size:1.5rem
}
.third-nav-tab .icon-cross:before,
.third-nav-tab .icon-home:before,
.third-nav-tab .third-nav.show-sub .icon-plus:before,
.third-nav.show-sub .third-nav-tab .icon-plus:before {
    margin:0
}
.third-nav-sub .sponso {
    display:none
}
@media (min-width:30.0625em) {
    .third-nav .icon-play-mini:before,
    .third-nav .icon-tickets-seances:before {
        display:inline-block
    }
}
@media (min-width:62.0625em) {
    .third-nav .sponso {
        display:none
    }
    .third-nav-sub .sponso {
        display:block
    }
}
/***********************************************************************************************************************


***********************************************************************************************************************/
/* Suite des codes ci-dessus */
/* Fin */
#expand-btn-1 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-1:checked ~ #expand-btn-1, #isexpanded-1:checked ~ * #expand-btn-1 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-1, .expandable-1 {
    display: none;
}
#isexpanded-1:checked ~ * tr.expandable-1 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-1:checked ~ p.expandable-1, 
#isexpanded-1:checked ~ * p.expandable-1,
#isexpanded-1:checked ~ ul.expandable-1, 
#isexpanded-1:checked ~ * ul.expandable-1 {
    display: block;
}
#expand-btn-2 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-2:checked ~ #expand-btn-2, #isexpanded-2:checked ~ * #expand-btn-2 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-2, .expandable-2 {
    display: none;
}
#isexpanded-2:checked ~ * tr.expandable-2 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-2:checked ~ p.expandable-2, 
#isexpanded-2:checked ~ * p.expandable-2,
#isexpanded-2:checked ~ ul.expandable-2, 
#isexpanded-2:checked ~ * ul.expandable-2 {
    display: block;
}
#expand-btn-3 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-3:checked ~ #expand-btn-3, #isexpanded-3:checked ~ * #expand-btn-3 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-3, .expandable-3 {
    display: none;
}
#isexpanded-3:checked ~ * tr.expandable-3 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-3:checked ~ p.expandable-3, 
#isexpanded-3:checked ~ * p.expandable-3,
#isexpanded-3:checked ~ ul.expandable-3, 
#isexpanded-3:checked ~ * ul.expandable-3 {
    display: block;
}
#expand-btn-4 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-4:checked ~ #expand-btn-4, #isexpanded-4:checked ~ * #expand-btn-4 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-4, .expandable-4 {
    display: none;
}
#isexpanded-4:checked ~ * tr.expandable-4 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-4:checked ~ p.expandable-4, 
#isexpanded-4:checked ~ * p.expandable-4,
#isexpanded-4:checked ~ ul.expandable-4, 
#isexpanded-4:checked ~ * ul.expandable-4 {
    display: block;
}
#expand-btn-5 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-5:checked ~ #expand-btn-5, #isexpanded-5:checked ~ * #expand-btn-5 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-5, .expandable-5 {
    display: none;
}
#isexpanded-5:checked ~ * tr.expandable-5 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-5:checked ~ p.expandable-5, 
#isexpanded-5:checked ~ * p.expandable-5,
#isexpanded-5:checked ~ ul.expandable-5, 
#isexpanded-5:checked ~ * ul.expandable-5 {
    display: block;
}
#expand-btn-6 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
}
#isexpanded-6:checked ~ #expand-btn-6, #isexpanded-6:checked ~ * #expand-btn-6 {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
}
#isexpanded-6, .expandable-6 {
    display: none;
}
#isexpanded-6:checked ~ * tr.expandable-6 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-6:checked ~ p.expandable-6, 
#isexpanded-6:checked ~ * p.expandable-6,
#isexpanded-6:checked ~ ul.expandable-6, 
#isexpanded-6:checked ~ * ul.expandable-6 {
    display: block;
}