/*
 * All
 */
body {
	background-image: url("https://static.lpnt.fr/images/2019/08/28/19221664lpw-19221682-embed-libre-jpg_6463725.jpg");
    background-attachment: fixed;
}
/* Alinéa dans les paragraphes */
p {
    text-indent: 50px;
}
/* Paragraphes et listes */
p,
ul li {
    font-family: "Georgia";
    font-size: 1.2em;
}
/* Liens */
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    transition-duration: 1s;
    background-color: black;
    color: white;
}
a:not(:hover) {
    transition-delay: 0.5s;
    transition-duration: 1s;
}
a:active {
    color: orange;
}
a:visited {
    color: gray;
}
a:visited:active {
    color: orange;
}
a:visited:hover {
    transition-duration: 1s;
    background-color: black;
    color: white;
}
a:visited:not(:hover) {
    transition-delay: 0.5s;
    transition-duration: 1s;
}
/*
 * Header
 */
header {
	margin: 0 auto;
	background-color: #0CF2C8;
	text-align: justify;
	align-content: center;
	border: 1px solid;
}
/*
 * Main
 */
main {
	width: 90%;
	margin: 0 auto;
	background-color: white;
	text-align: justify;
	align-content: center;
	border: 1px solid #66A7CC;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 .2em #999;
}
/*
 * Footer
 */
footer {
	width: 100%;
	background-color: rgb(128, 0, 0);
    border-color: blue;
    border: 1px solid;
    clear: both;
    margin-bottom: 10px;
}
footer div.gauche {
	width: 50%;
}
footer div.droite {
	float: right;
	width: 50%;
}
footer ul li {
	list-style-type: none;
    font-size: smaller;
    margin-left: -20px;
}
footer h2.footer {
    text-transform: uppercase;
    font-size: smaller;
    color: gray;
}
/*
 * Section
 */
section main.sorties {
	width: 100%;
	border-color: yellow;
	border: 1px 1px 1px 1px;
}
section main.article {
	width: 100%;
	border-color: red;
	border: 1px 1px 1px 1px;
}
section main.article article {
	width: 50%;
}
section main.article article div.news-title {
	font-variant: small-caps;
}
section main.article article div.news-content {
	font-size: smaller;
}
div.planning {
	overflow: auto;
	height: auto;
}
/*
 * Onglets
 */
nav {
    width: 100%;
    margin: 0 auto;
    background-color: #B2FFFF;
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous {
    display: block;
}
.sous li {
    float: none;
    width: 100%;
    text-align: left;
}
.sous a {
    padding: 10px;
    border-bottom: none;
}
.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after {
    content:" ▼";
    font-size: 12px;
}
.conteneur {
    margin: 0px 0px;
    min-height: 500px;
}
/*
 * Tableau
 */
table {
  	border-collapse: collapse;
  	width: 400px;
}
th,
td {
  	border: 1px solid black;
  	padding: 10px;
  	vertical-align: top;
}
/*
 * épisodes
 */
#expand-btn {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #969696;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
    width: 80%
}
#isexpanded:checked ~ #expand-btn, #isexpanded:checked ~ * #expand-btn {
    background: #B5B5B5;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
    width: 80%;
}
#isexpanded, .expandable {
    display: none;
}
#isexpanded:checked ~ * tr.expandable {
    display: table-row;
    background: #cccccc;
}
#isexpanded:checked ~ p.expandable,
#isexpanded:checked ~ * p.expandable,
#isexpanded:checked ~ ul.expandable,
#isexpanded:checked ~ * ul.expandable {
    display: block;
}
label#expand-btn,
label#expand-btn-1,
label#expand-btn-2,
label#expand-btn-3,
label#expand-btn-4,
label#expand-btn-5 {
	width: 90%;
}
header h1.sites {
	font-size: 140%;
	color: lightgreen;
	text-align: center;
}
/* Classes pour les colonnes des portails */
.portail-gauche,
.portail-droite {
    box-sizing: border-box;
}
.portail-gauche {
    float: left;
    width: 40%;
}
.portail-droite {
    float: right;
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
}
@media (max-width: 981px) {
    .portail-gauche,
    .portail-droite {
        float: none;
        width: auto !important;
    }
    .portail-gauche {
        padding-right: 0;
    }
}
main section.main-sorties,
main section.main-article,
main section.cadre {
    box-shadow: 0 0 0.3rem #999;
    border-radius: 0.2rem;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
}
main section div.titre {
    font-variant: small-caps;
    letter-spacing: 0.01em;
    border-bottom: solid 0.2rem #bdd8fb;
    margin: -0.4rem 0 0.5rem;
}
@media (min-width: 982px) {
    #accueil {
        display: flex;
    }
    #accueil .portail-gauche,
    #accueil .portail-droite {
        display: flex;
        flex-direction: column;
    }
    .accueil_2017_cadre:nth-child(1) {
        flex-grow: 1;
    }
    .accueil_2017_cadre:nth-child(2) {
        flex-grow: 2;
    }
    .accueil_2017_cadre:nth-child(3) {
        flex-grow: 3;
    }
}
h1 {
    font-variant: small-caps;
}
section.series-details {
    width: 100%;
    padding: 40px;
    margin: auto;
}
section.series-episodes {
    width: 100%;
    padding: 40px;
    margin: auto;
}
section.series-details div#accueil div.portail-gauche {
    border-right: 2px solid;
    border-right-color: red;
}
hr.series {
    color: gray;
}
/* Abréviations */
abbr {
    cursor: help;
}
/* Pour le copyright en bas de page */
div.copyright {
    height: 50px;
    background-color: rgb(150, 0, 0);
    align-content: center;
}
div.copyright p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Sujet de l'actualité */
div.news-subject {
    width: 80%;
}
div.news-subject p {
    font-size: 120%;
    font-color: black;
}
/* Lien vers l'API */
.link-API {
    height: 20px;
    width: 40px;
    background-color: gray;
    border: none;
}
h1 {
    margin: 0px;
    padding: 0px;
}
.small,
.petit {
    font-size: smaller;
}
main.category div.column-main article {
    height: 400px;
    width: 600px;
    position: relative;
}
main.category div.column-main article p {
    color: grey;
    text-align: left;
    position: absolute;
    bottom: 2;
    margin: 20px;
    padding: 10px;
}
main.category div.column-main article h1 {
    font-size: 175%;
    position: absolute;
    color: orange;
    bottom: 0;
    margin: 20px;
    padding: 10px;
}
main.category div.column-main article a:hover {
    color: blue;
}
.spoilers {
    font-size: 3;
}
/* News Title */
main.news h1 {
    text-align: center;
    text-transform: uppercase;
}
ul.author {
    margin-left: 0;
    list-style-type: none;
    text-align: center;
}
ul.author li {
    display: inline;
    text-align: center;
}
li.author::before {
    content: "Par ";
    color: grey;
}
li.author::after {
    content: " ";
    color: black;
}
li.author {
    color: grey;
    text-align: center;
}
li.dates {
    color: grey;
    text-align: center;
}
li.dates::before {
    content: "- ";
    white-space: normal;
}
/* Onglets */
.systeme_onglets .onglet {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.systeme_onglets .onglet_0 {
    background: #bbbbbb;
    border-bottom: 1px solid black;
}
.systeme_onglets .onglet_1 {
    background: #dddddd;
    border-bottom: 0px solid black;
    padding-bottom: 4px;
}
.systeme_onglets .contenu_onglet {
    background-color: #dddddd;
    border: 1px solid black;
    margin-top: -1px;
    padding: 5px;
    display: none;
}
.systeme_onglets ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px
}
.systeme_onglets h1 {
    margin: 0px;
    padding: 0px;
}
/* Retour en haut */
a#cRetour {
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    opacity: 1;
    z-index: 99999;
    transition: all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
a#cRetour:before {
    content: "\25b2";
}
a#cRetour:hover {
    background: rgba(0, 0, 0, 1);
    transition: all ease-in 0.2s;
}
a#cRetour.cInvisible {
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}
a#cRetour.cVisible {
    bottom: 20px;
    opacity: 1;
}
/* Image d'en-tête */
img.header-logo {
    max-width: 350px;
    height: auto;
}
/* Blocs */
div.column-right {
    width: 240px;
    float: right;
}
div.column-main {
    margin-right: 245px;
}
main {
    margin: auto;
    min-height: 420px;
}
section.rss {
    border-left: 2px solid black;
}
section.rss article {
    padding-left: 5px;
}
section.rss article div.news-title {
    font-variant: small-caps;
    font-size: 2;
    color: gray;
}
section.rss article div.news-desc {
    font-size: smaller;
    text-align: justify;
}
section.rss article div.rss-date {
    color: gray;
    font-size: smaller;
}
section.rss hr {
    color: gray;
}
header div.blue-frame {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    transition-duration: 0.25s;
    font-weight: 300;
    display: inline-block;
    border-color: blue;
    background-color:  white;
    border-width: 5px;
    border-color: blue;
}
header div.blue-frame:hover {
    background-color: lightblue;
}
/***********************************************************************************************************************


***********************************************************************************************************************/
/* Suite des codes ci-dessus */
/* Fin */
#expand-btn-1,
#expand-btn-2,
#expand-btn-3,
#expand-btn-4,
#expand-btn-5,
#expand-btn-6,
#expand-btn-7,
#expand-btn-8,
#expand-btn-9,
#expand-btn-10,
#expand-btn-11,
#expand-btn-12,
#expand-btn-13,
#expand-btn-14,
#expand-btn-15,
#expand-btn-16,
#expand-btn-17 {
    margin: 0 3px;
    display: inline-block;
    font: 12px / 13px "Lucida Grande", sans-serif;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #783737;
    cursor: default;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px, inset 0 20px 20px -10px white;
    width: 80%;
    text-align: center;
    height: 25px;
    align-content: center;
}
#isexpanded-1:checked ~ #expand-btn-1, #isexpanded-1:checked ~ * #expand-btn-1,
#isexpanded-2:checked ~ #expand-btn-2, #isexpanded-2:checked ~ * #expand-btn-2,
#isexpanded-3:checked ~ #expand-btn-3, #isexpanded-3:checked ~ * #expand-btn-3,
#isexpanded-4:checked ~ #expand-btn-4, #isexpanded-4:checked ~ * #expand-btn-4,
#isexpanded-5:checked ~ #expand-btn-5, #isexpanded-5:checked ~ * #expand-btn-5,
#isexpanded-6:checked ~ #expand-btn-6, #isexpanded-6:checked ~ * #expand-btn-6,
#isexpanded-7:checked ~ #expand-btn-7, #isexpanded-7:checked ~ * #expand-btn-7,
#isexpanded-8:checked ~ #expand-btn-8, #isexpanded-8:checked ~ * #expand-btn-8,
#isexpanded-9:checked ~ #expand-btn-9, #isexpanded-9:checked ~ * #expand-btn-9,
#isexpanded-10:checked ~ #expand-btn-10, #isexpanded-10:checked ~ * #expand-btn-10,
#isexpanded-11:checked ~ #expand-btn-11, #isexpanded-11:checked ~ * #expand-btn-11,
#isexpanded-12:checked ~ #expand-btn-12, #isexpanded-12:checked ~ * #expand-btn-12,
#isexpanded-13:checked ~ #expand-btn-13, #isexpanded-13:checked ~ * #expand-btn-13,
#isexpanded-14:checked ~ #expand-btn-14, #isexpanded-14:checked ~ * #expand-btn-14,
#isexpanded-15:checked ~ #expand-btn-15, #isexpanded-15:checked ~ * #expand-btn-15,
#isexpanded-16:checked ~ #expand-btn-16, #isexpanded-16:checked ~ * #expand-btn-16,
#isexpanded-17:checked ~ #expand-btn-17, #isexpanded-17:checked ~ * #expand-btn-17 {
    background: #783737;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, 0.4) 0 1px;
    width: 80%;
    text-align: center;
    height: 25px;
    align-content: center;
}
#isexpanded-1, .expandable-1,
#isexpanded-2, .expandable-2,
#isexpanded-3, .expandable-3,
#isexpanded-4, .expandable-4,
#isexpanded-5, .expandable-5,
#isexpanded-6, .expandable-6,
#isexpanded-7, .expandable-7,
#isexpanded-8, .expandable-8,
#isexpanded-9, .expandable-9,
#isexpanded-10, .expandable-10,
#isexpanded-11, .expandable-11,
#isexpanded-12, .expandable-12,
#isexpanded-13, .expandable-13,
#isexpanded-14, .expandable-14,
#isexpanded-15, .expandable-15,
#isexpanded-16, .expandable-16,
#isexpanded-17, .expandable-17 {
    display: none;
}
#isexpanded-1:checked ~ * tr.expandable-1,
#isexpanded-2:checked ~ * tr.expandable-2,
#isexpanded-3:checked ~ * tr.expandable-3,
#isexpanded-4:checked ~ * tr.expandable-4,
#isexpanded-5:checked ~ * tr.expandable-5,
#isexpanded-6:checked ~ * tr.expandable-6,
#isexpanded-7:checked ~ * tr.expandable-7,
#isexpanded-8:checked ~ * tr.expandable-8,
#isexpanded-9:checked ~ * tr.expandable-9,
#isexpanded-10:checked ~ * tr.expandable-10,
#isexpanded-11:checked ~ * tr.expandable-11,
#isexpanded-12:checked ~ * tr.expandable-12,
#isexpanded-13:checked ~ * tr.expandable-13,
#isexpanded-14:checked ~ * tr.expandable-14,
#isexpanded-15:checked ~ * tr.expandable-15,
#isexpanded-16:checked ~ * tr.expandable-16,
#isexpanded-17:checked ~ * tr.expandable-17 {
    display: table-row;
    background: #cccccc;
}
#isexpanded-1:checked ~ ul.expandable-1,
#isexpanded-1:checked ~ * ul.expandable-1,
#isexpanded-2:checked ~ ul.expandable-2,
#isexpanded-2:checked ~ * ul.expandable-2,
#isexpanded-3:checked ~ ul.expandable-3,
#isexpanded-3:checked ~ * ul.expandable-3,
#isexpanded-4:checked ~ ul.expandable-4,
#isexpanded-4:checked ~ * ul.expandable-4,
#isexpanded-5:checked ~ ul.expandable-5,
#isexpanded-5:checked ~ * ul.expandable-5,
#isexpanded-6:checked ~ ul.expandable-6,
#isexpanded-6:checked ~ * ul.expandable-6,
#isexpanded-7:checked ~ ul.expandable-7,
#isexpanded-7:checked ~ * ul.expandable-7,
#isexpanded-8:checked ~ ul.expandable-8,
#isexpanded-8:checked ~ * ul.expandable-8,
#isexpanded-9:checked ~ ul.expandable-9,
#isexpanded-9:checked ~ * ul.expandable-9,
#isexpanded-10:checked ~ ul.expandable-10,
#isexpanded-10:checked ~ * ul.expandable-10,
#isexpanded-11:checked ~ ul.expandable-11,
#isexpanded-11:checked ~ * ul.expandable-11,
#isexpanded-12:checked ~ ul.expandable-12,
#isexpanded-12:checked ~ * ul.expandable-12,
#isexpanded-13:checked ~ ul.expandable-13,
#isexpanded-13:checked ~ * ul.expandable-13,
#isexpanded-14:checked ~ ul.expandable-14,
#isexpanded-14:checked ~ * ul.expandable-14,
#isexpanded-15:checked ~ ul.expandable-15,
#isexpanded-15:checked ~ * ul.expandable-15,
#isexpanded-16:checked ~ ul.expandable-16,
#isexpanded-16:checked ~ * ul.expandable-16,
#isexpanded-17:checked ~ ul.expandable-17,
#isexpanded-17:checked ~ * ul.expandable-17 {
    display: block;
    border: 1px solid;
    border-color: black;
}
